################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/RestaurantSearch/obj/Debug/net8.0/RestaurantSearch.AssemblyInfo.cs
