<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appSettings>
		<!-- BlobStorageの接続文字列 -->
		<add key="BlobConnectionString" value="AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;DefaultEndpointsProtocol=http;BlobEndpoint=http://127.0.0.1:10000/devstoreaccount1;QueueEndpoint=http://127.0.0.1:10001/devstoreaccount1;TableEndpoint=http://127.0.0.1:10002/devstoreaccount1"/>

		<!-- コンテナ名 -->
		<add key="UploadContainer" value="upload"/>
		<add key="LogContainer" value="log"/>
		<add key="ErrorContainer" value="error"/>
		<add key="BackupContainer" value="backup"/>

		<!-- DBの接続情報 -->
		<add key="DbConnectionString" value="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=testdb;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"/>

		<!-- ログメッセージ -->
		<add key="StartLog" value="CSVデータ反映処理開始"/>
		<add key="ErrorLog" value="CSVデータの読み込みに失敗しました：{0} {1}行目"/>
		<add key="ExceptionLog" value="CSVデータ反映処理に失敗しました：スタックトレース：{0}"/>
		<add key="EndLog" value="CSVデータ反映処理終了"/>
	</appSettings>
</configuration>